.add-invoices {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.update-invoices {
    padding: 15px 0;
}

@media (min-width: 1023px) {
    .add-invoices {
        flex-direction: row;
        gap: 30px;
    }
}